<html lang="en">
  <head>
    {{>headerLinks}}

  </head>
  <body>
  {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- Right side div -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img
                  src="/images/about2.png"
                  alt="self"
                  class="img-fluid"
                  title="peace_tech"
                />
              </figure>
            </div>
            <!-- Left side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>
                I am a
                <span class="text_color">MERN Stack Developer</span>
              </h1>
              <a href="#"><button>About Me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer HTMl Code -->
    {{>footer}}
  </body>
</html>